/*  nor  */
body,ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

div {
  display: block;
}

/*  lib  */
:root {
  --site-width : 1440px;
}

.container {
  max-width: var(--site-width);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto-Regular';
}

/*  cus  */

#wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* 인트로 */
#intro {
  max-width: 100%;
  height: 1024px;
}

#intro .container {
  position: relative;
}

#intro .container .intro_txt {}
#intro .container .intro_txt .title {
  position: absolute;
  top: 404px;
  left: 976px;
  font-size: 50px;
  line-height: 60px;
}

#intro .container .intro_txt .title li {}

#intro .container .intro_txt .title .first {
  letter-spacing: 20px;
}
#intro .container .intro_txt .title .second {
  letter-spacing: 24px;
}
#intro .container .intro_txt .title .third {
  letter-spacing: 33px;
}

#intro .container .intro_txt .small {
  font-size: 16px;
}
#intro .container .intro_txt .name {
  position: absolute;
  top: 94px;
  left: 1133px;
}
#intro .container .intro_txt .job {
  position: absolute;
  top: 373px;
  left: 941px;
}

#intro .container .intro_bg {
  width: 100%;
}

#intro .container .intro_bg .box01 {
  position: absolute;
  width: 460px;
  height: 640px;
  background-color: rgb(233, 233, 233);
  top: 126px;
  left: 313px;
  z-index: 2;
}

#intro .container .intro_bg .box02 {
  position: absolute;
  width: 460px;
  height: 640px;
  background-color: #4b4b4b;
  top: 246px;
  left: 193px;
}

#intro .container .intro_bg .bar {
  position: absolute;
  top: 86px;
  left: 773px;
}

/* 컨텐츠 */
#contants {
  max-width: 100%;
}

#contants .container {
  position: relative;
}

/* 바 */
#contants .container .bar {
  position: absolute;
  top: 0;
  left: 1121px;
  z-index: -1;
}

/* 컨텐츠01 */
#contants .container .contant01 {
  height: 1624px;
}
#contants .container .contant01 .con_tit {
  position: absolute;
  top: 81px;
  left: 1133px;
}

#contants .container .contant01 .con_box {}
#contants .container .contant01 .con_box .box01 {
  position: absolute;
  top: 100px;
  left: 102px;
  width: 460px;
  height: 640px;
  background-color: #777;

}
#contants .container .contant01 .con_box .box02 {
  position: absolute;
  top: 481px;
  left: 562px;
  width: 567px;
  height: 200px;
  background-color: #666;
  opacity: 0.2;
}
#contants .container .contant01 .con_box .box03 {
  position: absolute;
  top: 740px;
  left: 622px;
  width: 818px;
  height: 300px;
  background-color: #555;
}

#contants .container .contant01 .con_box .box03 .box03_tit {
  position: absolute;
  top: 190px;
  left: 20px;
  font-size: 24px;
  transform: rotate(-90deg);
  font-weight: 700;
  color: #fff;
}

#contants .container .contant01 .con_box .box03 .box03_bar {
  width: 5px;
  height: 220px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 90px;
}

#contants .container .contant01 .con_box .box04 {
  position: absolute;
  width: 961px;
  height: 232px;
  top: 1192px;
  left: 174px;
  display: flex;
  justify-content: space-around;
}

#contants .container .contant01 .con_box .box04 .con {
  width: 150px;
  height: 150px;
  background-color: #999;
}
#contants .container .contant01 .con_box .box04 .con01 {}
#contants .container .contant01 .con_box .box04 .con02 {}
#contants .container .contant01 .con_box .box04 .con03 {}
#contants .container .contant01 .con_box .box04 .con04 {}
#contants .container .contant01 .con_box .box04 .con05 {}
#contants .container .contant01 .con_box .box04 .con06 {}

#contants .container .contant01 .con_box .con_bar {
  position: absolute;
  top: 1192px;
  left: 149px;
  width: 5px;
  height: 232px;
  background-color: #333;
}

#contants .container .contant01 .con_box .con_tit {
  position: absolute;
  top: 1342px;
  left: 60px;
  font-size: 24px;
  transform: rotate(-90deg);
  font-weight: 700;
  color: #333;
}

/* 컨텐츠02 */
#contants .container .contant02 {
  height: 4000px;
}

#contants .container .contant02 .con02_tit {
  position: absolute;
  top: 1727px;
  left: 1134px;
}

#contants .container .contant02 .bar {
  position: absolute;
  top: 1624px;
  left: 1129px;
  z-index: -1;
}

#contants .container .contant02 .port {
  position: absolute;
  width: 1440px;
  height: 1080px;
}

#contants .container .contant02 .port01 {
  top: 1624px;
  left: 0;
}
#contants .container .contant02 .port01 .port01_box {}
#contants .container .contant02 .port01 .port01_box .port01_img {
  position: absolute;
  top: 155px;
  left: 370px;
  width: 700px;
  height: 500px;
  background-color: #999;
}
#contants .container .contant02 .port01 .port01_box .port01_txt {
  position: absolute;
  top: 675px;
  left: 370px;
  width: 700px;
  height: 250px;
  background-color: #888;
}

#contants .container .contant02 .port02 {
  top: 2704px;
  left: 0;
}

#contants .container .contant02 .port02 .port02_box .port02_img {
  position: absolute;
  top: 155px;
  left: 370px;
  width: 700px;
  height: 500px;
  background-color: #999;
}
#contants .container .contant02 .port02 .port02_box .port02_txt {
  position: absolute;
  top: 675px;
  left: 370px;
  width: 700px;
  height: 250px;
  background-color: #888;
}

#contants .container .contant02 .port03 {
  top: 3784px;
  left: 0;
}

#contants .container .contant02 .port03 .port03_box .port03_img {
  position: absolute;
  top: 155px;
  left: 370px;
  width: 700px;
  height: 500px;
  background-color: #999;
}
#contants .container .contant02 .port03 .port03_box .port03_txt {
  position: absolute;
  top: 675px;
  left: 370px;
  width: 700px;
  height: 250px;
  background-color: #888;
}

#contants .container .contant02 .other {
  width: 1440px;
  height: 760px;
  position: absolute;
  top: 4864px;
  left: 0;
}

#contants .container .contant02 .other .other_box {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1440px;
  height: 625px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
#contants .container .contant02 .other .other_box .box {
  width: 460px;
  height: 300px;
  background-color: #555;
}


/* 하단부 */

#footer {
  position: relative;
  width: 1440px;
  height: 545px;
}

#footer .foot_bar {
  position: absolute;
  top: 156px;
  left: 0;
}

#footer .foot_tit {
  position: absolute;
  font-size: 24px;
  color: #333;
  top: 15px;
  left: 154px;
}